.bounds.app--body
      .app--section--header
        .grid-33
          .app--section--heading
            h2 Timeline
        .grid-33
          .app--section--heading
            strong #{latestTweets[0].user.friends_count}
            h2 Following
        .grid-33
          .app--section--heading
            h2 Direct Messages
      .grid-33
        .app--section
          include tweet-list.pug       
      .grid-33
        .app--section          
          include user-list.pug
      .grid-33
        .app--section
          include message-list.pug